* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lexend deca", sans-serif;
}

h3 {
    font-family: "Big Shoilders Display", sans-serif;
    text-transform: uppercase;
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}