* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button {
    font-family: "Lexend deca", sans-serif;
}

h3 {
    font-family: "Big Shoilders Display", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    line-height: 1.6;
}

.bright-orange {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 10px 0 0;
}

.bright-orange .btn {
    color: hsl(31, 77%, 52%);
}

.dark-cyan {
    background-color: hsl(184, 100%, 22%);
}

.dark-cyan .btn {
    color: hsl(184, 100%, 22%);
}

.very-dark-cyan {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 0 10px 10px;
}

.very-dark-cyan .btn {
    color: hsl(179, 100%, 13%);
}

.container {
    padding: 20px;
}

.card {
    padding: 30px;

}

.card img {
    margin-bottom: 25px;
}

.card h3 {
    color: hsl(0, 0%, 95%);
    margin-bottom: 20px;
}

.card p {
    margin-bottom: 30px;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    border: 2px solid hsl(0, 0%, 95%);
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: transparent;
    color: hsl(0, 0%, 95%);
}


.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}